<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="Angular Logo" src="assets/img/logo.png" />
  <div class="spacer"></div>
</div>

<div class="toolbar-user" role="banner">
  <div class="toolbar-user-content">
    <img c src="assets/img/user-logo.png" />
    <div class="spacer"></div>
    <span>Hola, Usuario</span>
    <div class="spacer"></div>
  </div>
</div>

<div class="content" role="main">
  <div class="card-container">
    <ng-container *ngFor="let button of buttons">
      <a class="card" *ngIf="button.visible" (click)="showAlert(button.name)">
        <img src="{{ button.icon }}" class="card-icon" width="92" height="92" />
        <span>{{ button.name }}</span>
      </a>
    </ng-container>
  </div>




</div>


<footer>
  <img src="assets/img/surface1.png"> &nbsp;
  
  En este link podrás resolver todas tus dudas sobre nuestros protocolos de cara al
&nbsp;
  <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> COVID-19
    
  </a>
</footer>

